

html, body{
    font-family: Arial, Helvetica, sans-serif;
    background: #6b6b6b;
    height: 100%;
}



.app{
    width: 80%;
    margin: 10px auto 0 auto;
    background: #f7f7f7;
    border-radius: 5px;
    min-height: 100%;
}

.optionsSec{
    height: 40px;
}

.optionsMenu{
    margin-top: -8px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #a889b7;
    color: white;
    background: #7d1dad;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.optionsButton{
    margin-top: 20px;
    margin-right: 20px;
    padding: 2px 4px;
    float: right;
    font-size: 1.4em;
    border: 1px solid #777;
    border-radius: 3px;
    
}

.optionsButton:hover{
    cursor: pointer;
    background: #ddd;
    color: #7d1dad;
}

.filterItem{
    padding-top: 4px;
    font-size: 1.6em;
    margin-top: 2px;
    margin-left: 10px;
    color: #ddd;
    display: inline-block;
    user-select: none;
}

.filterArrow{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid white;
}

.filterLongDrop{
    border: 2px solid white;;
    position: relative;
    box-shadow: 1px 4px 6px darkgrey;
}

.filterItemText{
    background: white;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    color: #666;
}

.filterItemText:nth-child(2){
    border-top: #ccc 1px solid;
}

.filterItemText:hover{
    cursor: pointer;
    background: #aaa;
    color: white;
}

.filterLongTextCurr{
    border: none;
    background: #7d1dad;
    color: #ddd;
}

.filterLongTextCurr:hover{
    background: #7d1dad;
}

.filterCross{
    float: right;
    font-size: 1.4em;
    margin-top: 4px;
    margin-right: 6px;
    color: #ddd;
}

.filterCross:hover{
    cursor: pointer;
    color: white;
}


.titleSec{
    text-align: center;
}

.titleHead{
    padding-top: 20px;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 2px lightgrey;
}

.titleDesc{
    padding-top: 2px;
    font-style: italic;
    color: #666;
    font-size: 1.1em;
}

.searchSec{
    padding: 20px 0 5px 0;
    text-align: center;
    border-bottom: #ccc 1px solid;
    width: 85%;
    margin: 0 auto;
}

.searchButton{
    position: relative;
    font-size: 2.4em;
    border-radius: 5px;
    background: #7d1dad;
    border-right: #551177 4px solid;
    border-bottom: #551177 4px solid;
    border-left: #b83ff4 4px solid;
    border-top: #b83ff4 4px solid;
    padding: 2px 10px;
    outline: none;
    color: white;
    margin: 0 auto;
    box-shadow: 2px 2px 2px lightgrey;
}

.searchButton:hover{
    cursor: pointer;
}

.searchButton:active{
    border-right: #b83ff4 4px solid;
    border-bottom: #b83ff4 4px solid;
    border-left: #551177 4px solid;
    border-top: #551177 4px solid;
    box-shadow: 0 0 0 lightgrey;
}

.searchCover{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    left: -4px;
    top: -4px;;
    background: #777;
    opacity: 0.5;
    border: 4px solid #666;
    position: absolute;
}

.searchCover:hover{
    cursor: default;
}

.chngStorySec{
    margin-top: 35px; 
    height: 24px;
}

.chngStoryButt{
    color: #777777;
    font-size: 1.6em;
    display: inline-block;
}

.chngStoryButt:hover{
    cursor: pointer;
}

.chngStoryButtPrev{
    float: left;
}

.chngStoryButtNext{
    float: right;
}



.mainText{
    padding-top: 30px;
    font-size: 1.1em;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 40px;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
  
    .app{
        width: 100%;
    }

    .mainText{
        padding-top: 30px;
        font-size: 1.1em;
        width: 90%;
        overflow: hidden;
        font-size: 1em;
    }

    .titleHead{
        max-width: 90%;
        margin: 0 auto;
        font-size: 2.4em;
    }

    .titleDesc{
        padding-top: 4px;
        max-width: 90%;
        font-size: 1em;
        margin: 0 auto;
    }

    .searchButton{
        font-size: 2em;
        padding-bottom: 2px;
    }

    .searchSec{
        padding-bottom: 20px;
    }

    .mainText{
        padding-top: 5px;
    } 

}

.hidden{
    display: none;
}

