
html, body{
    font-family: Arial, Helvetica, sans-serif;
    background: #6b6b6b;
    height: 100%;
}

.app{
    width: 80%;
    margin: 0 auto;
    background: #f7f7f7;
    border-radius: 5px;
    min-height: 100%;
}

.titleSec{
    text-align: center;
}

.titleHead{
    padding-top: 20px;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 2px lightgrey;
}

.titleDesc{
    padding-top: 2px;
    font-style: italic;
    color: #666;
    font-size: 1.1em;
}

.searchSec{
    padding: 20px 0 40px 0;
    text-align: center;
}

.searchButton{
    font-size: 2.4em;
    border-radius: 5px;
    background: #7d1dad;
    border-right: #551177 4px solid;
    border-bottom: #551177 4px solid;
    border-left: #b83ff4 4px solid;
    border-top: #b83ff4 4px solid;
    padding: 2px 10px;
    outline: none;
    color: white;
    margin: 0 auto;
    box-shadow: 2px 2px 2px lightgrey;
}

.searchButton:hover{
    cursor: pointer;
}

.searchButton:active{
    border-right: #b83ff4 4px solid;
    border-bottom: #b83ff4 4px solid;
    border-left: #551177 4px solid;
    border-top: #551177 4px solid;
    box-shadow: 0 0 0 lightgrey;
}



.mainText{
    padding-top: 30px;
    font-size: 1.1em;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 40px;
    border-top: #ccc 1px solid;
    
}

